@charset "UTF-8";
/*
body{
	height : 100vh;
	font-family: Arial, Helvetica, sans-serif;
}*/

.tableau-style{
	border-collapse:collapse;
	win-didth:400px;
	width: auto;
	box-shadow: 0 5px 50px rgba(0,0,0,0.15);
	cursor: pointer;
	margin: 100px auto;
	/*border: 2px solid midnightblue;*/
	border: 1px solid #ddd;	
}

thead tr {
	background-color:midnightblue;
	color: #fff;
	text-align: center;
}

th, td{
	padding:15px 20px;
}

tbody tr, td, th {
	border: 1px solid #ddd;
}

/*tbody tr:nth-child(even){
	background-color: #f3f3f3;
}*/
tbody tr:nth-child(even) {
	background-color: #CCC;
}
tbody tr:nth-child(odd) {
	background-color: #FFF;
	}

.pagination{
    width: 100%;
    margin: auto;
	/*display:-ms-flexbox;
	display:flex;*/
	display: flex;
	align-items: center;
	justify-content: center;
	list-style:none;
	border-radius:.25rem;
}

.page-link{
	position:relative;
	display:block;
	padding:.5rem .75rem;
	margin-left:-1px;
	line-height:1.25;
	color:#007bff;
	background-color:#fff;
	border:1px solid #dee2e6
	}
	

body{
    width: 80%;
	margin-left: auto;
	margin-right: auto;	
	background-image: url( ../images/plage.jpg );	
	background-repeat: no-repeat;
	/*font-family: Verdana, "Times New Roman", sans-serif;*/
	font-family: Marker Felt, fantasy;

}



/*button {
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}*/

section.login{
  display:flex;
  background-image: url( ../images/plage.jpg );	
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
section.login > div{
	width:450px;
	margin:auto;
	text-align:center;
	padding:20px;
	background:#eee;
	border:1px solid #ccc;
	border-radius:5px;
}

section.login form{
	display:flex;
	flex-direction:column;
}

/*form input[type="password"],
form input[type="text"],
form button[type="submit"]{
	width:100%;
	margin-bottom:32px;
	padding:16px;
	color:#333;
	border:1px solid #ccc;
	border-radius:5px;
	outline:0;
}*/
input#pseudo,
input#mdp,
button#login{
	width:100%;
	margin-bottom:32px;
	padding:16px;
	color:#333;
	border:1px solid #ccc;
	border-radius:5px;
	outline:0;
}

input#pseudo3,
input#mdp3,
input#email3,
button#inscription{
	width:100%;
	margin-bottom:32px;
	padding:16px;
	color:#333;
	border:1px solid #ccc;
	border-radius:5px;
	outline:0;
}

form input[type="text"]:focus,
form input[type="text"]:hover,
form input[type="password"]:focus,
form input[type="password"]:hover{
	background-color:#ccc;
}

form button[type="submit"]{
	font-weight:bold;
	color:#eee;
	text-transform:uppercase;
	background-color:#007bff;
}

form input[type="submit"]:focus,
form input[type="submit"]:hover{
	background-color:#007bfe;
}

div.verify{
	width:100%;
	height:100%;
	display:flex;
	margin:auto;
	vertical-align:center;
	align-items: center;
	justify-content: center;
	/*position:absolute;*/
}

a.leBouton {
	height: 30px;
text-decoration: none;
/*padding: 10px 30px;*/
background-color: blue; 
color: white;
border: 1px solid gray;
border-style:inset;
width: 20%;
display: flex;
align-items: center;
justify-content: center;

}
a.leBouton:hover {
background-color: white;
color:red;

}

div#connexion{
	width:100%;
	height:60%;
	display:flex;
	margin:auto;
	vertical-align:center;
	align-items: center;
	justify-content: center;
}
#inscription{
	width: 100%;
}

p#titre_i{
	text-align:center;
	font-size: 70px;
	margin-top:100px;
	/*font-family: Marker Felt, fantasy*/
	
}
h1.baba{
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    color:red;
    font-size: xx-large;
    
}
h3.bibi{
	text-align:center;
    width: 100%;
	}
	
}

